
:root {
    --blue-sapphire: #22577A;
    --red-crayola: #EF2D56;
    --lavender: #DBCBD8;
    --light-green: #90ED99;
    --amber: #FFBD00;
    --capri: #30C5FF;
    --electric-blue: #90F3FF;
    --terra-cotta: #ED6A5A;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--lavender);

}

h1 {
    font-family: 'Press Start 2P', 'Arcade Classic', serif;
    text-align: center;
    color: var(--red-crayola);
}

h2 {


}

h3 {


}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
        border: none;
            width: min(50%) max(75%);
            height: auto;
            display: block;
            background: #ccc;
            transition: transform .2s ease-in-out;


    /* or space-around */
}



.div1 {


}

#para1 {


}

#para2 {

}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}